body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 11px;
    font-weight: 600;
}

form p {
    text-align: center;
    margin-top: 10px;
}

form p a {
    color: #4caf50;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

.error {
    background: #ffebeb;
    color: #ff5252;
    border: 1px solid rgba(255, 82, 82, 0.3);
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 0;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.error {
    animation: fadeInOut 0.5s ease forwards;
}

form select {
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.293 9.293a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 01-1.414-1.414l3-3z"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 14px 14px;
    padding-right: 30px;
}

form select:focus {
    outline: none;
    border-color: #4caf50;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Choose Image';
    display: inline-block;
    background: linear-gradient(to right, #4e73df, #224abe);
    color: #fff;
    border: 1px solid #224abe;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
}

.custom-file-input:hover::before {
    background: linear-gradient(to right, #224abe, #4e73df);
}

.custom-file-input:active::before {
    background: #224abe;
}